
    .grid-container_app {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .grid-container_app_c {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-bottom: 20px;
    }